{% extends "booking/main.html" %}
{% load static %}
{% block content %}
<! Header -->
<!--
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 intro-text">
            <h1>Welcome to Bus Booking System<span></span></h1>
            <p>Check out our awesome Bus reservation system!</p>
            <a href="#searchBuses" class="btn btn-custom btn-lg page-scroll">Search Buses</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>
-->




<html>
    <head>
        <title>Login form design</title>

        <body>
            <div class="loginbox">
                <img src="{%static 'images/logo2.png'%}" class="image">
                <h1>Login Here PLEASE</h1>
                <form>
                    <p>User name</p>
                    <input type="text" name="" placeholder="Enter Username">
                    <p>Password</p>
                    <input type="password" name="" placeholder="Enter Your Password">
                    <input type="submit" name="" value="Login"><br>
                    <a href="#">Lost your password?</a><br>
                    <a href="#">Don't have an account?</a>
                </form>
            </div>
        </body>
    </head>
</html>
  {% endblock content %}